html {
    font-size: 10px;
}

body {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #2d2f39;
    height: 95px;
    font-family: Lato, sans-serif;
}

header .layout-2-column {
    display: flex;
}

.header__logo {
   margin-top: 24px;
   margin-left: 40px;
   flex-grow: 1;
}

.header__logo > h1 {
    line-height: 6px;
    font-weight: 700;
    color: white;
    font-size: 2.5rem;
    letter-spacing: -0.5px;
}

.header__logo span {
    color: #f06c64;
}

.header__navigation {
    margin-right: 40px;
    margin-top: 42px;
}

.header__navigation > a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    letter-spacing: -0.2px;
    margin-left: 28px;
}

.header__navigation > a:hover {
    color: #f06c64;
}

.header__bottom {
    margin-top: 25.74px;
    background-color:#323746;
    height: 6px;
}

main {
    background-color: #f06c64;
    height: 600px;
}


.slider-bottom {
    margin: ;
    height: 15px;
    background-color: #ea676b;
}