@font-face{
    font-family: Lato;
    src: url(assets/Lato/Lato-Light.ttf);
    font-weight: 300;
}

@font-face{
    font-family: Lato;
    src: url(assets/Lato/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: Lato;
    src: url(assets/Lato/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: Lato;
    src: url(assets/Lato/Lato-Black.ttf);
    font-weight: 900;
}

html {
    font-size: 10px;
}

body {
    width: 1020px;
    margin: 0px auto;    
}

header {
    background-color: #2d2f39;
    height: 95px;
    font-family: Lato, sans-serif;
}

header .layout-2-column {
    display: flex;
}

.header__logo {
   margin-top: 25px;
   margin-left: 40px;
   flex-grow: 1;
}

.header__logo > h1 {
    line-height: 6px;
    font-weight: 700;
    color: white;
    font-size: 2.5rem;
    letter-spacing: -0.45px;
}

.header__logo span {
    color: #f06c64;
}

.header__navigation {
    margin-right: 40px;
    margin-top: 44px;
}

.header__navigation > a {
    text-decoration: none;
    line-height: 6px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    letter-spacing: -0.18px;
    margin-left: 28px;
    cursor: default;
}

.header__navigation > a:hover {
    color: #f06c64;
}

.header__bottom {
    margin-top: 25.74px;
    background-color:#323746;
    height: 6px;
}

main {
    background-color: #f06c64;
    height: 600px;
}

.main__slider>.layout-4-column {
    display: flex;
}

.main__left-chev {
    padding-top: 281px;
    padding-left: 42px;
}

.main__iphone-vertical {
    padding-top: 52px;
    padding-left: 52px;
}

.main__iphone-horizontal {
    padding-top: 174px;
    padding-left: 71px;
}

.main__right-chev {
    padding-top: 281px;
    padding-left: 54px;
}

.main__slider-bottom {
    margin-top: 51px;
    height: 7px;
    background-color: #ea676b;
}

.main__services {
    background-color: #f2f2f2;
    height: 501px;
}

.main__description {
    padding-top: 44px;
    padding-left: 39px;
}

.main__description>h2 {
    font-family: Lato, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 18px;
    color: #666d89;
    letter-spacing: -0.1px;
}

.main__description>p {
    padding-top: 2px;
    padding-left: 1px;
    font-family: Lato, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: 0.15px;
}

.main__services p>span {
   letter-spacing: 0px;
}

.main__services>.layout-3-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
}

.main__services .main__custom-design,
.main__services .main__inovative-ideas,
.main__services .main__love-is-the-answer,
.main__services .main__responsive-layout,
.main__services .main__support,
.main__services .main__feel-like-a-star {
    display: flex;
    align-items: flex-start;
    width: 300px;
    height: 85px;
    margin-bottom: 38px;    
}

.main__services .main__custom-design>img,
.main__services .main__responsive-layout>img {
    margin-right: 18px;
}

.main__services .main__inovative-ideas>img,
.main__services .main__support>img {
    margin-left: -1px;
    margin-right: 19px;
}

.main__services .main__love-is-the-answer>img,
.main__services .main__feel-like-a-star>img {
    margin-left: -1px;
    margin-right: 19px;
}

.main__services>.layout-3-column h3 {
    font-family: Lato, sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 18px;
    color: #666d89;
    letter-spacing: -0.15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main__services>.layout-3-column p {
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 22px;
    color: #767e9e;
    letter-spacing: 0.1px;
    word-spacing: 0.1px;
    margin-top: 10px;
}

.main__services-bottom {
    background-color: #ffffff;
    height: 6px;
    margin-top: 30px;
}

